h1, h2 {
	text-align: center;
	margin: 20px;	
}

.grupo-atributos {
	float: left;
	padding: 10px;
	display: block;
	border: 1px solid black;
	margin-left: 8%;
	margin-top: 2%;
	margin-bottom: 2%;
}


.atributos_titulo {
	text-align: center;
}

.atributos, .atributos_titulo {
	float: left;
	clear: right;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.atributos {
	border-top: 1px solid black;
}

.habilidades {
	clear: left;
	float: left;
	padding: 20px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.outras_caracteristicas {
	float: left;
	border-bottom: 1px solid black;
}

.vantagens {
	padding: 20px;
	float: left;
}

.vitalidade {
	padding: 20px;
	float: left;	
}

.forca_vontade {
	padding: 20px;
	float: left;	
}

.desvantagens{
	padding: 20px;
	clear: left;
	float: left;
}

.moralidade {
	padding: 20px;
	float: left;
}

.caracteristicas {
	clear: left;;
	padding: 20px;
	float: left;
}

.experiencia {
	padding: 20px;
	float: left;
}

.armas {
	clear: left;
}

.armas .armas {
	float: left;
}

.armas .modificadores {
	float: left;
}

.equipamentos {
	clear: left;
}

.equipamentos .equipamentos {
	float: left;
}

.equipamentos .modificadores {
	float: left;
}