html {
    font-size: 100%;
}

input {
    border: 1px solid #ccc;
    border-radius: .1em;
    width: auto;
}

.container {
    width: 90%;
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1em;
    /*border: 1px solid black;*/
}

h1, h2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: .1em;
    /*border: 1px solid black;*/
}

h1 {
    font-size: 3em;
    padding: .1em;
}

h2 {
    font-size: 2em;
    padding: .2em;
}

.identificacao {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
}

.grupo-identificacao {
    flex: 1;
    padding: .3em;
    margin: .2em;
    min-width: 370px;
    /*border: 1px solid black;*/
}

.grupo-identificacao div {
    display: block;
    margin: .3em;
    padding: .3em;
    /*border: 1px solid black;*/
}

.grupo-identificacao div label {
    width: 7em;
    display: inline-block;
    /*border: 1px solid black;*/
}

.grupo-identificacao input {
    width: calc(90% - 7em);
}

.atributos {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.atributo {
    display: block;
    padding: .3em;
}

.atributo label {
    margin-left: 3em;
}

.grupo-atributos {
    flex: 1;
    min-width: 370px;
    border: 1px solid black;
}

.atributos-opcoes {
    display: inline-block;
    float: right;
    margin-right: 3em;
    border: 1px solid black;
}

/*h1, h2 {*/
	/*text-align: center;*/
	/*margin: 20px;	*/
/*}*/

/*.container{*/
	/*margin-left: 10px;*/
/*}*/

/*.grupo-identificacao .form-control {*/
	/*display: inline-block;*/
	/*width: auto;*/
/*}*/

/*.grupo-identificacao .form-group label {*/
	/*width: 40%;*/
/*}*/

/*.form-group .form-control {*/
	/*width: 55%;*/
/*}*/

/*.grupo-identificacao {*/
	/*width: 330px;*/
	/*display: inline-block;*/
	/*margin: 10px;*/
	/*text-align: left;*/
/*}*/


/*.radio-rate  {*/
	/*width: auto;*/
/*}*/

/*.grupo-atributos {*/
	/*float: left;*/
	/*padding: 10px;*/
	/*display: block;*/
	/*border: 1px solid black;*/
	/*margin-left: 10px;*/
	/*margin-top: 2%;*/
	/*margin-bottom: 2%;*/
	/*text-align: left;*/
	/*width: 350px;*/
/*}*/

/*.atributos-opcoes {*/
	/*float: right;*/
	/*display: inline-block;*/
	/*text-align: right;*/
/*}*/

/*.atributos_titulo {*/
	/*text-align: center;*/
/*}*/

/*.atributos, .atributos_titulo {*/
	/*float: left;*/
	/*clear: right;*/
	/*display: block;*/
	/*margin-right: auto;*/
	/*margin-left: auto;*/
/*}*/

/*.atributos {*/
	/*border-top: 1px solid black;*/
/*}*/

/*.habilidades {*/
	/*clear: left;*/
	/*float: left;*/
	/*padding: 20px;*/
	/*border-right: 1px solid black;*/
	/*border-bottom: 1px solid black;*/
	/*width: 370px;*/
/*}*/

/*.habilidade_se_inepto {*/
	/*margin-top: -5px;*/
	/*margin-bottom: 20px;*/
/*}*/

/*.grupo_habilidades  {*/
	/*text-align: center;*/
/*}*/

/*.grupo_habilidades .form-group {*/
	/*text-align: left;*/
/*}*/

/*.habilidades-opcoes {*/
	/*display: inline-block;*/
	/*float: right;*/
/*}*/

/*.outras_caracteristicas {*/
	/*float: left;*/
	/*border-bottom: 1px solid black;*/
	/*width: 750px;*/
/*}*/

/*.vantagens {*/
	/*padding: 20px;*/
	/*float: left;*/
	/*width: 450px;*/
/*}*/

/*.vantagens .form-group {*/
	/*width: 100%;*/
/*}*/

/*.vantagem-titulo {*/
	/*width: 50%;*/
/*} */

/*.vantagens .form-group {*/
	/*float: left;*/
/*}*/

/*.vantagem-titulo .form-control {*/
	/*width: 100%;*/
/*}*/

/*.vantagem-opcoes {*/
	/*width: 45%;*/
	/*display: inline-block;*/
	/*float: right;*/
/*} */

/*.vitalidade, .forca_vontade {*/
	/*padding: 20px;*/
	/*float: left;	*/
	/*width: 250px;*/
/*}*/

/*.desvantagens {*/
	/*padding: 20px;*/
	/*clear: left;*/
	/*float: left;*/
	/*width: 450px;*/
/*}*/

/*.desvantagens h3 {*/
	/*text-align: center;*/
/*}*/

/*.desvantagens .form-group .form-control {*/
	/*width: 100%;*/
/*}*/

/*.moralidade {*/
	/*padding: 20px;*/
	/*float: left;*/
	/*width: 250px;*/
/*}*/

/*.moralidade h3 {*/
	/*text-align: center;*/
/*}*/

/*.caracteristicas {*/
	/*clear: left;;*/
	/*padding: 20px;*/
	/*float: left;*/
	/*width: 450px;*/
/*}*/

/*.caracteristicas .form-group .form-control {*/
	/*width: 100%;*/
/*}*/

/*.experiencia {*/
	/*padding: 20px;*/
	/*float: left;*/
	/*width: 250px;*/
/*}*/

/*.experiencia .form-control {*/
	/*width: 100%;*/
/*}*/

/*.armas {*/
	/*clear: left;*/
/*}*/

/*.armas .armas {*/
	/*float: left;*/
/*}*/

/*.armas .modificadores {*/
	/*float: left;*/
/*}*/

/*.armas .form-group .form-control {*/
	/*width: 100%;*/
/*}*/

/*.equipamentos {*/
	/*clear: left;*/
/*}*/

/*.equipamentos .equipamentos {*/
	/*float: left;*/
/*}*/

/*.equipamentos .modificadores {*/
	/*float: left;*/
/*}*/

/*.equipamentos .form-group .form-control {*/
	/*width: 100%;*/
/*}*/